page-about {
  blockquote{
    display:block;
    background: #fff;
    padding: 15px 20px 15px 45px;
    margin: 0 0 20px;
    position: relative;

    /*Font*/
    font-family: Georgia, serif;
    font-size: 16px;
    line-height: 1.2;
    color: #666;
    text-align: justify;

  }

  blockquote::before{
    content: "\201C"; /*Unicode for Left Double Quote*/

    /*Font*/
    font-family: Georgia, serif;
    font-size: 40px;
    font-weight: bold;
    color: #999;

    /*Positioning*/
    position: absolute;
    left: 10px;
    top:5px;
  }


  .card-background-page {
    ion-card {
      position: relative;
      text-align: center;
    }

    .card-title {
      position: absolute;
      top: 60%;
      font-size: 1.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
      text-shadow: 4px 4px 8px #000000;

    }

    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
      text-shadow: 4px 4px 8px #000000;
    }
  }



}
