<ion-menu [content]="content">
  <ion-header class="row gradient" style="margin-top: 40px;">
      <img *ngIf="loggedIn" src="../../assets/Images/commonuser.png" style="border-radius: 50%;width: 15vh; height: 15vh;display: inline-block;margin-right: 5px;margin-left:5px;">
    <div style="display: inline-block;vertical-align: center;color: white;">  <p *ngIf="loggedIn" text-center style="margin-bottom: 0px;margin-top: 20px;">Welcome</p>
      <p *ngIf="loggedIn" text-center>{{ mail }}</p>
    </div>
  </ion-header>
  <ion-content class="gradient">
    <ion-list no-lines style="margin-top: 80px;">
      <button detail-none menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" class="gradient butt butborder">
        {{p.title}}
        <ion-icon name='{{ p.name }}' item-left></ion-icon>
      </button>
    </ion-list>
  </ion-content>

<ion-footer>
  <button *ngIf="edited" ion-button full bottom (click)="gotoDestroy()"> Log Out <ion-icon name="md-log-out" item-right padding></ion-icon></button>
</ion-footer>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
